.table-container {
    display: flex;
    justify-content: center;
}

tr {
    background: gray;
}
.t-row {
    background: beige;

}
.total-container{
    display: flex;
    flex-direction: column;
}

.show-total-button{
    align-self: center;
}